body {
    background: #262628;
}

.text{
    color:#ffff;
}


.block {
    min-height: 100px;
    display: flex;
    width: 100vh; 
    background: linear-gradient(120deg, #eb3939, #f36da8);
    border-radius: 10px;
    position: fixed;
    /* top: 100px; */
    left: 50%;
    margin-right: 50px;
    margin-top: 200px;
    
}

.circle {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%; /* Делаем круг */
    position: absolute; /* Абсолютное позиционирование внутри .block */
    /* top: 0%; Центрируем по вертикали */
    left: 20%; /* Центрируем по горизонтали */
    transform: translate(-50%, -50%); /* Смещаем на половину ширины и высоты, чтобы точно центрировать */
}

/* =================================================== */


